/* 
    Created on : 10.09.2015, 21:32:53
    Author     : Александр
*/

@font-face {
    font-family: 'Ubuntu Mono';
    font-style: normal;
    font-weight: 400;
    src: local('Ubuntu Mono'), local('UbuntuMono-Regular'), url('UbuntuMono.ttf') format('ttf');
}

* {
    -fx-font-family: 'Ubuntu Mono', 'Consolas', Monospace;
}

.root {
    -fx-background-color: rgba(255, 255, 255, 0.5);
    /*-fx-background-radius: 5px;
    -fx-border-color: rgba(45, 45, 77, 0.5);
    -fx-border-radius: 5px;
    -fx-border-width: 1px;*/
}

.consoleInputField {
    -fx-background-color: rgba(255, 255, 255, 0.0);
    -fx-font-size: 25px;
    -fx-text-fill: rgb(255, 255, 255);
    -fx-padding: 0 10px 0 0;
}

.consolePreffixLabel {
    -fx-text-fill: rgb(255, 255, 255);
    -fx-font-size: 50px;
    -fx-padding: 0 20px 0 20px;
}